/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

/*
#canvas {
    width: 350px;
    height: 550px;
    border: 3px solid black;

   !* background-image: url('./setka.png');*!
}
*/

.hidden {
    background-color: red;
}

.a {
    overflow-x: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.b {
    min-width: 20%;
    height: 20px;

    background-color: darkgoldenrod;
}

.b:first-child {
    background-color: yellow;
    position: sticky;
    left: 0;
}

.b:nth-child(2n) {
     background-color: green;
 }

.wrap {
    overflow-x: auto;
    width: 80%;
    margin: 0 auto;
}

table {
    background-color: wheat;
    box-sizing: border-box;
    border-spacing: 0;
    color:  white;
    width: 100%;
}

table thead tr {
    background-color: green;
}

table th:first-child {
    position: sticky;
    left: 0;
}

table tr {
    background-color: darkcyan;
}

table tr:nth-child(2n) {
    background-color: green;
}

table th, table td {
    padding: 10px 16px;
}

table th:first-child {
    position: sticky;
    left: 0;
    background-color: blue;
}

table td:first-child {
    position: sticky;
    left: 0;
    background-color: blue;
}
